<div>
<a>Дарова, меня зовут Андрей <strike> Welcome to Jackass </strike> и вы открыли страничку с информацией обо мне. Где я ничего писать о себе не буду.</a>
<img src="~/Content/img/genius.png" height="200" />
<a></a>
</div> 
<a></a>