<div>
    <p>Связаться со мной можно:</p>
    <ul>
        <li><a href="https://www.vk.com/dr34m3r">vk.com/dr34m3r</a></li>
        <li><p>+7 904 644 15 63</p></b></li>
        <li><p>&#64;dR34mer - Telega</p></li>
        <li><p>survivorbc2&#64;gmail.com</p></li>
    </ul>

</div>