
    <div>
        <h1>tHRE IS NO BOOKS)))00)))</h1>
        <ul>
            @foreach (var book in Model)
            {
                <li>@("Book: "+book.name+". Writted by Author: "+book.author + ". Description: "+Environment.NewLine + book.desc+".")</li>
            }
        </ul>
        <a href="~/Home/Index">Bbbback</a>
        <!-- Allo -->
    </div>
